name: precious

on:
  push:
  pull_request:
  schedule:
    - cron: '5 5 * * SUN'

permissions: {}

jobs:
  precious:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24"

      - name: Install precious
        run: |
          curl -sL https://github.com/houseabsolute/precious/releases/download/v0.10.1/precious-Linux-musl-x86_64.tar.gz | tar xz -C /usr/local/bin

      - name: Run precious
        run: precious lint --command prettier-markdown --all
