name: Test

on:
  push:
  pull_request:
  schedule:
    - cron: '5 10 * * SUN'

permissions: {}

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        go-version: ['1.25']
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: recursive
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Download dependencies
        run: go mod download

      - name: Run tests
        run: go test -v -race ./...
